# Cấu hình AI Provider (openai, gemini, claude)
AI_PROVIDER_TYPE="openai"

# API Keys
OPENAI_API_KEY="sk-thay-khoa-api-cua-ban-vao-day"
GEMINI_API_KEY="AIzaSy-thay-khoa-api-cua-ban-vao-day"
ANTHROPIC_API_KEY="sk-ant-thay-khoa-api-cua-ban-vao-day"
